openapi: "3.0.2"
info:
  title: Proyek Aplikasi Ecommerce - Grup 1
  description: Dokumentasi API Ecommerce App - Grup 1
  contact:
    name: BE - Grup 1
    email: yusufnurwahid.contact@gmail.com
  version: "1.0"
servers:
  - url: https://api.server.dev/{version}
    variables:
      version:
        default: v1
        enum:
          - v1
          - v2
tags:
  - name: Auth
    description: Autorisasi users
  - name: Users
    description: Daftar users
  - name: Addresses
    description: Daftar alamat
  - name: Products
    description: Daftar products
  - name: Transactions
    description: Daftar transactions
  - name: Transaction Details
    description: Daftar transaction details
  - name: Orders
    description: Daftar orders
  - name: Payment Methods
    description: Daftar payment methods
  - name: Product Categories
    description: Daftar product categories
paths:
  /auth/login:
    post:
      tags:
        - Auth
      summary: Login user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: User terautorisasi
          content:
            application/json:
              schema:
                type: object
                # $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                success: true
                message: Berhasil mengautorisasi user
                data:
                  user_name: franz1
                  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        '401':
          $ref: '#/components/responses/401'
  /users:
    post:
      summary: Tambahkan user baru
      tags:
        - Users
      description: Cek selengkapnya di HTML bro
      requestBody:
        required: true
        description: Menambah user baru dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Frans Ihsan
                user_name:
                  type: string
                  example: frans1
                email:
                  type: string
                  example: frans@frans.com
                password:
                  type: string
                  format: password
                  example: frans123
                dob:
                  type: string
                  format: date
                  example: 2022-02-15
                gender:
                  type: boolean
                  example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Berhasil menambahkan user baru
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: Frans Ihsan
                      user_name:
                        type: string
                        example: frans1
                      email:
                        type: string
                        example: frans@frans.com
                      password:
                        type: string
                        format: password
                        example: frans123
                      dob:
                        type: string
                        format: date
                        example: 2022-02-15
                      gender:
                        type: boolean
                        example: 1
        '400':
          $ref: '#/components/responses/400'
    get:
      summary: Dapatkan semua detail user
      tags:
        - Users
      description: Cek selengkapnya di HTML bro
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  status:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      address_id:
                        type: integer
                      name:
                        type: string
                      user_name:
                        type: string
                      email:
                        type: string
                      password:
                        type: string
                        format: password
                      dob:
                        type: string
                        format: date
                      gender:
                        type: boolean
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
                      deleted_at:
                        type: string
                        format: date-time
                    example:
                        id: 1
                        address_id: 1
                        name: Frans Ihsan
                        user_name: frans1
                        email: frans@frans.com
                        password: frans123
                        dob: 2022-02-15
                        gender: 1
                        created_at: 2022-02-15T05:19:20Z
                        updated_at: 2022-02-15T05:20:20Z
                        deleted_at: 2022-02-15T05:21:20Z
    put:
      summary: Ubah record berdasarkan ID
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/UserInput'
            example:
              name: Franz Ichsan
              user_name: franz1
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                success: true
                message: Berhasil ubah data user
                data:
                  name: Franz Ichsan
                  user_name: franz1
        '204':
          $ref: '#/components/responses/204'
    delete:
      tags:
        - Users
      summary: Hapus data user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                success: true
                message: Berhasil hapus data user
                data: {}
  /addresses:
    post:
      summary: Tambah alamat baru
      tags:
        - Addresses
      requestBody:
        required: true
        description: Menambahkan alamat baru dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                street:
                  type: string
                city:
                  type: string
                province:
                  type: string
                zipcode:
                  type: string
              example:
                street: Jl. Diponegoro No. 12
                city: Surabaya
                province: Jawa Timur
                zipcode: '666666'
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      street:
                        type: string
                      city:
                        type: string
                      province:
                        type: string
                      zipcode:
                        type: string
                example:
                  code: 200
                  success: true
                  message: Berhasil menambahkan alamat baru
                  data:
                    id: 1
                    street: Jl. Diponegoro No. 12
                    city: Surabaya
                    province: Jawa Timur
                    zipcode: '666666'
        '400':
          $ref: '#/components/responses/400'
    get:
      summary: Dapatkan semua alamat
      tags:
        - Addresses
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: integer
                    success:
                      type: boolean
                    message:
                      type: string
                    data:
                      type: object
                      properties:
                        id:
                          type: integer
                        street:
                          type: string
                        city:
                          type: string
                        province:
                          type: string
                        zipcode:
                          type: string
                  example:
                    code: 200
                    success: true
                    message: Berhasil menambahkan alamat baru
                    data:
                      - id: 1
                        street: Jl. Diponegoro No. 12
                        city: Surabaya
                        province: Jawa Timur
                        zipcode: '666666'
                      - id: 2
                        street: Jl. Jendral Soedirman
                        city: Semarang
                        province: Jawa Tengah
                        zipcode: '666777'
    put:
      summary: Update data alamat
      tags:
        - Addresses
      requestBody:
        required: true
        description: Mengubah data alamat dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                street:
                  type: string
                city:
                  type: string
                province:
                  type: string
                zipcode:
                  type: string
              example:
                street: Jl. Jendral Soedirman
                city: Semarang
                province: Jawa Tengah
                zipcode: '666777'
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      street:
                        type: string
                      city:
                        type: string
                      province:
                        type: string
                      zipcode:
                        type: string
                example:
                  code: 200
                  success: true
                  message: Berhasil mengupdate data alamat
                  data:
                    id: 1
                    street: Jl. Jendral Soedirman
                    city: Semarang
                    province: Jawa Tengah
                    zipcode: '666777'
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: Kesalahan autorisasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
              example:
                  code: 401
                  success: false
                  message: User tidak terautorisasi
                  data: {}
    delete:
      summary: Hapus sebuah alamat
      tags:
        - Addresses
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                success: true
                message: Berhasil hapus data alamat
                data: {}
  /products:
    post:
      summary: Tambah produk baru
      tags:
        - Products
      requestBody:
        required: true
        description: Menambahkan produk baru dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                gender:
                  type: boolean
                size:
                  type: integer
                price:
                  type: integer
                stock:
                  type: integer
                image:
                  type: array
                  items:
                    type: string
              example:
                name: Adidas Air Max
                description: Produknya bagus banget lo
                gender: 1
                size: 43
                price: 1500000
                stock: 10
                image:
                  - https://www.nike.com/id/t/air-max-97-shoe-Ks2tvF/DJ2740-100 
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      description:
                        type: string
                      gender:
                        type: boolean
                      size:
                        type: integer
                      price:
                        type: integer
                      stock:
                        type: integer
                      image:
                        type: array
                        items:
                          type: string
                example:
                  code: 200
                  success: true
                  message: Berhasil menambahkan produk baru
                  data:
                    id: 1
                    name: Adidas Air Max
                    description: Produknya bagus banget lo
                    gender: 1
                    size: 43
                    price: 1500000
                    stock: 10
                    image:
                      - https://www.nike.com/id/t/air-max-97-shoe-Ks2tvF/DJ2740-100
        '400':
          $ref: '#/components/responses/400'
    get:
      summary: Dapatkan seluruh produk
      tags:
        - Products
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          description:
                            type: string
                          gender:
                            type: boolean
                          size:
                            type: integer
                          price:
                            type: integer
                          stock:
                            type: integer
                          image:
                            type: array
                            items:
                              type: string
                example:
                    code: 200
                    success: true
                    message: Berhasil mendapatkan semua produk
                    data:
                      - id: 1
                        name: Adidas Air Max
                        description: Produknya bagus banget lo
                        gender: 1
                        size: 43
                        price: 1500000
                        stock: 10
                        image:
                          - https://www.nike.com/id/t/air-max-97-shoe-Ks2tvF/DJ2740-100
                      - id: 2
                        name: Nike Ultra Boost
                        description: Produk kualitas impor
                        gender: 1
                        size: 41
                        price: 2000000
                        stock: 3
                        image:
                          - https://www.adidas.co.id/media/catalog/product/g/x/gx5236_sl_ecom.jpg
  /products/{id}:
    put:
      summary: Update data produk
      tags:
        - Products
      parameters:
        - name: id
          in: path
          description: ID produk hasil generate dari sistem
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Mengubah data produk dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                price:
                  type: integer
                stock:
                  type: integer
              example:
                price: 1200000
                stock: 13
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      description:
                        type: string
                      gender:
                        type: boolean
                      size:
                        type: integer
                      price:
                        type: integer
                      stock:
                        type: integer
                      image:
                        type: array
                        items:
                          type: string
                example:
                  code: 200
                  success: true
                  message: Berhasil mengupdate data produk
                  data:
                    id: 1
                    name: Adidas Air Max
                    description: Produknya bagus banget lo
                    gender: 1
                    size: 43
                    price: 1200000
                    stock: 13
                    image:
                      - https://www.nike.com/id/t/air-max-97-shoe-Ks2tvF/DJ2740-100
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: Kesalahan autorisasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
              example:
                  code: 401
                  success: false
                  message: User tidak terautorisasi
                  data: {}
    delete:
      summary: Hapus sebuah product
      tags:
        - Products
      parameters:
        - name: id
          in: path
          description: ID produk hasil generate sistem
          required: true
          schema:
            type: integer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                success: true
                message: Berhasil hapus data produk
                data: {}
  /transactions:
    post:
      summary: Tambah transaksi baru
      tags:
        - Transactions
      requestBody:
        required: true
        description: Menambahkan transaksi baru dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                total_qty:
                  type: integer
                total_price:
                  type: integer
              example:
                user_id: 1
                total_qty: 3
                total_price: 4500000
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      user_id:
                        type: integer
                      total_qty:
                        type: integer
                      total_price:
                        type: integer
                example:
                  code: 200
                  success: true
                  message: Berhasil menambahkan transaksi baru
                  data:
                    user_id: 1
                    total_qty: 3
                    total_price: 4500000
        '400':
          $ref: '#/components/responses/400'
    get:
      summary: Dapatkan seluruh transaksi
      tags:
        - Transactions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: integer
                    success:
                      type: boolean
                    message:
                      type: string
                    data:
                      type: object
                      properties:
                        id:
                          type: integer
                        user_id:
                          type: integer
                        total_qty:
                          type: integer
                        total_price:
                          type: integer
                  example:
                    - code: 200
                      success: true
                      message: Berhasil mendapatkan semua transaksi
                      data:
                        id: 1
                        user_id: 1
                        total_qty: 3
                        total_price: 4500000
                    - code: 200
                      success: true
                      message: Berhasil mendapatkan semua transaksi
                      data:
                        id: 2
                        user_id: 2
                        total_qty: 4
                        total_price: 5000000
  /transactions/{id}:  
    put:
      summary: Update data transaksi
      tags:
        - Transactions
      parameters:
        - name: id
          in: path
          description: ID transaksi hasil generate dari sistem
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Mengubah data transaksi dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                total_qty:
                  type: integer
                total_price:
                  type: integer
              example:
                  user_id: 2
                  total_qty: 2
                  total_price: 2500000
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      user_id:
                        type: integer
                      total_qty:
                        type: integer
                      total_price:
                        type: integer
                example:
                  code: 200
                  success: true
                  message: Berhasil mengupdate data transaksi
                  data:
                    id: 2
                    user_id: 2
                    total_qty: 2
                    total_price: 2500000
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: Kesalahan autorisasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
              example:
                  code: 401
                  success: false
                  message: User tidak terautorisasi
                  data: {}
    delete:
      summary: Hapus sebuah transaksi
      tags:
        - Transactions
      parameters:
        - name: id
          in: path
          description: ID transaksi hasil generate sistem
          required: true
          schema:
            type: integer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                success: true
                message: Berhasil hapus data transaksi
                data: {}
  /transaction-details/:
    get:
      summary: Dapatkan seluruh transaksi detail
      tags:
        - Transaction Details
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                    code:
                      type: integer
                    success:
                      type: boolean
                    message:
                      type: string
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          transaction_id:
                            type: integer
                          product_id:
                            type: integer
                          qty:
                            type: integer
                          price:
                            type: integer
                example:
                  code: 200
                  success: true
                  message: Berhasil mendapatkan semua transaksi detail
                  data:
                    - transaction_id: 1
                      product_id: 1
                      qty: 3
                      price: 4500000
                    - transaction_id: 2
                      product_id: 2
                      qty: 2
                      price: 2500000
  /transaction-details/{transaction_id}/{product_id}:
    post:
      summary: Tambah transaksi detail baru
      tags:
        - Transaction Details
      parameters:
        - name: transaction_id
          in: path
          description: ID transaksi hasil generate dari sistem
          required: true
          schema:
            type: integer
        - name: product_id
          in: path
          description: ID produk hasil generate dari sistem
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Menambahkan transaksi detail baru dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                qty:
                  type: integer
                price:
                  type: integer
              example:
                total_qty: 3
                total_price: 4500000
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      qty:
                        type: integer
                      price:
                        type: integer
                example:
                  code: 200
                  success: true
                  message: Berhasil menambahkan transaksi detail baru
                  data:
                    transaction_id: 1
                    product_id: 1
                    total_qty: 3
                    total_price: 4500000
        '400':
          $ref: '#/components/responses/400'
    put:
      summary: Update data transaksi detail
      tags:
        - Transaction Details
      parameters:
        - name: transaction_id
          in: path
          description: ID transaksi hasil generate dari sistem
          required: true
          schema:
            type: integer
        - name: product_id
          in: path
          description: ID produk hasil generate dari sistem
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Mengubah data transaksi detail dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                qty:
                  type: integer
                price:
                  type: integer
              example:
                  qty: 2
                  price: 2500000
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      transaction_id:
                        type: integer
                      product_id:
                        type: integer
                      qty:
                        type: integer
                      price:
                        type: integer
                example:
                  code: 200
                  success: true
                  message: Berhasil mengupdate data transaksi detail
                  data:
                    transaction_id: 1
                    product_id: 1
                    total_qty: 2
                    total_price: 2500000
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: Kesalahan autorisasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
              example:
                  code: 401
                  success: false
                  message: User tidak terautorisasi
                  data: {}
    delete:
      summary: Hapus sebuah detail transaksi
      tags:
        - Transaction Details
      parameters:
        - name: transaction_id
          in: path
          description: ID transaksi hasil generate dari sistem
          required: true
          schema:
            type: integer
        - name: product_id
          in: path
          description: ID produk hasil generate dari sistem
          required: true
          schema:
            type: integer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                success: true
                message: Berhasil hapus data transaksi detail
                data: {}
  /orders:
    post:
      summary: Tambah order baru
      tags:
        - Orders
      requestBody:
        required: true
        description: Menambahkan order baru dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction_id:
                  type: integer
                payment_method_id:
                  type: integer
                phone:
                  type: string
                status:
                  type: string
                  format: timestamp
              example:
                transaction_id: 1
                payment_method_id: 1
                phone: '081234445566'
                status: 2022-0216T12:00:00Z
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      transaction_id:
                        type: integer
                      payment_method_id:
                        type: integer
                      phone:
                        type: string
                      status:
                        type: string
                        format: timestamp
                example:
                  code: 200
                  success: true
                  message: Berhasil menambahkan order baru
                  data:
                    transaction_id: 1
                    payment_method_id: 1
                    phone: '081234445566'
                    status: 2022-0216T12:00:00Z
        '400':
          $ref: '#/components/responses/400'
    get:
      summary: Dapatkan semua orders
      tags:
        - Orders
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        transaction_id:
                          type: integer
                        payment_method_id:
                          type: integer
                        phone:
                          type: string
                        status:
                          type: string
                          format: timestamp
                example:
                  code: 200
                  success: true
                  message: Berhasil mendapatkan semua orders
                  data:
                  - transaction_id: 1
                    payment_method_id: 1
                    phone: '081234445566'
                    status: 2022:02:16T12:00:00Z
                  - transaction_id: 2
                    payment_method_id: 2
                    phone: '081234445567'
                    status: 2022:02:16T13:00:00Z
  /orders/{id}:  
    put:
      summary: Update data order
      tags:
        - Orders
      parameters:
        - name: id
          in: path
          description: ID order hasil generate dari sistem
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Mengubah data order dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                status:
                  type: string
                  format: timestamp
              example:
                  phone: '081234445569'
                  status: 1970:01:01T00:00:00Z
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      phone:
                        type: string
                      status:
                        type: string
                        format: timestamp
                example:
                  code: 200
                  success: true
                  message: Berhasil mengupdate data order
                  data:
                    transaction_id: 1
                    payment_method_id: 1
                    phone: '081234445569'
                    status: 1970:01:01T00:00:00Z
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: Kesalahan autorisasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
              example:
                  code: 401
                  success: false
                  message: User tidak terautorisasi
                  data: {}
    delete:
      summary: Hapus sebuah order
      tags:
        - Orders
      parameters:
        - name: id
          in: path
          description: ID order hasil generate sistem
          required: true
          schema:
            type: integer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                success: true
                message: Berhasil hapus data order
                data: {}
  /payment-methods:
    post:
      summary: Tambah payment method baru
      tags:
        - Payment Methods
      requestBody:
        required: true
        description: Menambahkan payment method baru dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              example:
                name: Gopay
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                example:
                  code: 200
                  success: true
                  message: Berhasil menambahkan payment method baru
                  data:
                    id: 1
                    name: Gopay
        '400':
          $ref: '#/components/responses/400'
    get:
      summary: Dapatkan semua payment methods
      tags:
        - Payment Methods
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                example:
                  code: 200
                  success: true
                  message: Berhasil mendapatkan semua payment methods
                  data:
                  - id: 1
                    name: Gopay
                  - id: 2
                    name: LinkAja
  /payment-methods/{id}:  
    put:
      summary: Update data payment method
      tags:
        - Payment Methods
      parameters:
        - name: id
          in: path
          description: ID payment method hasil generate dari sistem
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Mengubah data payment method dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              example:
                id: 1
                name: Dana
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                example:
                  code: 200
                  success: true
                  message: Berhasil mengupdate data payment method
                  data:
                    id: 1
                    name: Dana
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: Kesalahan autorisasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
              example:
                  code: 401
                  success: false
                  message: User tidak terautorisasi
                  data: {}
    delete:
      summary: Hapus sebuah payment method
      tags:
        - Payment Methods
      parameters:
        - name: id
          in: path
          description: ID payment method hasil generate sistem
          required: true
          schema:
            type: integer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                success: true
                message: Berhasil hapus data payment method
                data: {}
  /product-categories:
    post:
      summary: Tambah kategori produk baru
      tags:
        - Product Categories
      requestBody:
        required: true
        description: Menambahkan kategori produk baru dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              example:
                name: Sneakers
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                example:
                  code: 200
                  success: true
                  message: Berhasil menambahkan kategori produk baru
                  data:
                    id: 1
                    name: Sneakers
        '400':
          $ref: '#/components/responses/400'
    get:
      summary: Dapatkan semua kategori produk
      tags:
        - Product Categories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                example:
                  code: 200
                  success: true
                  message: Berhasil mendapatkan semua kategori produk
                  data:
                  - id: 1
                    name: Sneakers
                  - id: 2
                    name: T-Shirt
  /product-categories/{id}:  
    put:
      summary: Update data kategori produk
      tags:
        - Product Categories
      parameters:
        - name: id
          in: path
          description: ID kategori produk hasil generate dari sistem
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Mengubah data kategori produk dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              example:
                id: 1
                name: Hat
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                example:
                  code: 200
                  success: true
                  message: Berhasil mengupdate data kategori produk
                  data:
                    id: 1
                    name: Hat
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: Kesalahan autorisasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
              example:
                  code: 401
                  success: false
                  message: User tidak terautorisasi
                  data: {}
    delete:
      summary: Hapus sebuah kategori product
      tags:
        - Product Categories
      parameters:
        - name: id
          in: path
          description: ID kategori produk hasil generate sistem
          required: true
          schema:
            type: integer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                success: true
                message: Berhasil hapus data kategori produk
                data: {}
components:
  parameters:
    UserID:
      name: id
      in: path
      required: true
      schema:
        type: integer
  schemas:
    UserLogin:
      type: object
      properties:
        user_name:
          type: string
        password:
          type: string
    UserInput:
      type: object
      properties:
        name:
          type: string
        user_name:
          type: string
        email:
          type: string
        password:
          type: string
    SuccessSingleResponse:
      type: object
      properties:
        code:
          type: integer
        success:
          type: boolean
        message:
          type: string
        data:
          $ref: '#/components/schemas/UserInput'
  responses:
    '400':
      description: Kesalahan dari client
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 400
              success:
                type: boolean
                example: false
              message:
                type: string
                example: Terjadi kesalahan pada input
              data:
                type: object
    '204':
      description: Kesalahan update
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 204
              success:
                type: boolean
                example: false
              message:
                type: string
                example: Tidak ada data yang diupdate
              data:
                type: object
                example: {}
    '401':
      description: Kesalahan autorisasi
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 401
              success:
                type: boolean
                example: false
              message:
                type: string
                example: Email atau password tidak valid
              data:
                type: object
                example:
                  user_name: franz1
                  token: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT