openapi: "3.0.2"
info:
  title: Proyek Aplikasi Ecommerce - Grup 1
  description: Dokumentasi API Ecommerce App - Grup 1
  contact:
    name: BE - Grup 1
    email: yusufnurwahid.contact@gmail.com
  version: "1.0"
servers:
  - url: https://api.server.dev/{version}
    variables:
      version:
        default: v1
        enum:
          - v1
          - v2
tags:
  - name: Auth
    description: Autorisasi users
  - name: Users
    description: Daftar users
  - name: Addresses
    description: Daftar alamat
  - name: Products
    description: Daftar products
  - name: Transactions
    description: Daftar transactions
  - name: Transactions Details
    description: Daftar transaction details
  - name: Orders
    description: Daftar orders
  - name: Payment Methods
    description: Daftar payment methods
  - name: Product Categories
    description: Daftar product categories
  - name: Product Descriptions 
    description: Daftar product descriptions
paths:
  /auth/login:
    post:
      tags:
        - Auth
      summary: Login user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: User terautorisasi
          content:
            application/json:
              schema:
                type: object
                # $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                success: true
                message: Berhasil mengautorisasi user
                data:
                  user_name: franz1
                  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        '401':
          $ref: '#/components/responses/401'
  /users:
    post:
      summary: Tambahkan user baru
      tags:
        - Users
      description: Cek selengkapnya di HTML bro
      requestBody:
        required: true
        description: Menambah user baru dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Frans Ihsan
                user_name:
                  type: string
                  example: frans1
                email:
                  type: string
                  example: frans@frans.com
                password:
                  type: string
                  format: password
                  example: frans123
                dob:
                  type: string
                  format: date
                  example: 2022-02-15
                gender:
                  type: boolean
                  example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Berhasil menambahkan user baru
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: Frans Ihsan
                      user_name:
                        type: string
                        example: frans1
                      email:
                        type: string
                        example: frans@frans.com
                      password:
                        type: string
                        format: password
                        example: frans123
                      dob:
                        type: string
                        format: date
                        example: 2022-02-15
                      gender:
                        type: boolean
                        example: 1
        '400':
          $ref: '#/components/responses/400'
    get:
      summary: Dapatkan semua detail user
      tags:
        - Users
      description: Cek selengkapnya di HTML bro
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  status:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      address_id:
                        type: integer
                      name:
                        type: string
                      user_name:
                        type: string
                      email:
                        type: string
                      password:
                        type: string
                        format: password
                      dob:
                        type: string
                        format: date
                      gender:
                        type: boolean
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
                      deleted_at:
                        type: string
                        format: date-time
                    example:
                        id: 1
                        address_id: 1
                        name: Frans Ihsan
                        user_name: frans1
                        email: frans@frans.com
                        password: frans123
                        dob: 2022-02-15
                        gender: 1
                        created_at: 2022-02-15T05:19:20Z
                        updated_at: 2022-02-15T05:20:20Z
                        deleted_at: 2022-02-15T05:21:20Z
    put:
      summary: Ubah record berdasarkan ID
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/UserInput'
            example:
              name: Franz Ichsan
              user_name: franz1
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                success: true
                message: Berhasil ubah data user
                data:
                  name: Franz Ichsan
                  user_name: franz1
        '204':
          $ref: '#/components/responses/204'
    delete:
      tags:
        - Users
      summary: Hapus data user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                success: true
                message: Berhasil hapus data user
                data: {}
  /addresses:
    post:
      summary: Tambah alamat baru
      tags:
        - Addresses
      requestBody:
        required: true
        description: Menambahkan alamat baru dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                street:
                  type: string
                city:
                  type: string
                province:
                  type: string
                zipcode:
                  type: string
              example:
                street: Jl. Diponegoro No. 12
                city: Surabaya
                province: Jawa Timur
                zipcode: '666666'
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      street:
                        type: string
                      city:
                        type: string
                      province:
                        type: string
                      zipcode:
                        type: string
                example:
                  code: 200
                  success: true
                  message: Berhasil menambahkan alamat baru
                  data:
                    id: 1
                    street: Jl. Diponegoro No. 12
                    city: Surabaya
                    province: Jawa Timur
                    zipcode: '666666'
        '400':
          $ref: '#/components/responses/400'
    get:
      summary: Dapatkan semua alamat
      tags:
        - Addresses
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: integer
                    success:
                      type: boolean
                    message:
                      type: string
                    data:
                      type: object
                      properties:
                        id:
                          type: integer
                        street:
                          type: string
                        city:
                          type: string
                        province:
                          type: string
                        zipcode:
                          type: string
                  example:
                    code: 200
                    success: true
                    message: Berhasil menambahkan alamat baru
                    data:
                      - id: 1
                        street: Jl. Diponegoro No. 12
                        city: Surabaya
                        province: Jawa Timur
                        zipcode: '666666'
                      - id: 2
                        street: Jl. Jendral Soedirman
                        city: Semarang
                        province: Jawa Tengah
                        zipcode: '666777'
    put:
      summary: Update data alamat
      tags:
        - Addresses
      requestBody:
        required: true
        description: Mengubah data alamat dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                street:
                  type: string
                city:
                  type: string
                province:
                  type: string
                zipcode:
                  type: string
              example:
                street: Jl. Jendral Soedirman
                city: Semarang
                province: Jawa Tengah
                zipcode: '666777'
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      street:
                        type: string
                      city:
                        type: string
                      province:
                        type: string
                      zipcode:
                        type: string
                example:
                  code: 200
                  success: true
                  message: Berhasil mengupdate data alamat
                  data:
                    id: 1
                    street: Jl. Jendral Soedirman
                    city: Semarang
                    province: Jawa Tengah
                    zipcode: '666777'
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: Kesalahan autorisasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
              example:
                  code: 401
                  success: false
                  message: User tidak terautorisasi
                  data: {}
    delete:
      summary: Hapus sebuah alamat
      tags:
        - Addresses
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                success: true
                message: Berhasil hapus data alamat
                data: {}
  /products:
    post:
      summary: Tambah produk baru
      tags:
        - Products
      requestBody:
        required: true
        description: Menambahkan produk baru dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                gender:
                  type: boolean
                size:
                  type: integer
                price:
                  type: integer
                stock:
                  type: integer
                image:
                  type: array
                  items:
                    type: string
              example:
                name: Adidas Air Max
                gender: 1
                size: 43
                price: 1500000
                stock: 10
                image:
                  - https://www.nike.com/id/t/air-max-97-shoe-Ks2tvF/DJ2740-100 
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      gender:
                        type: boolean
                      size:
                        type: integer
                      price:
                        type: integer
                      stock:
                        type: integer
                      image:
                        type: array
                        items:
                          type: string
                example:
                  code: 200
                  success: true
                  message: Berhasil menambahkan produk baru
                  data:
                    id: 1
                    name: Adidas Air Max
                    gender: 1
                    size: 43
                    price: 1500000
                    stock: 10
                    image:
                      - https://www.nike.com/id/t/air-max-97-shoe-Ks2tvF/DJ2740-100
        '400':
          $ref: '#/components/responses/400'
    get:
      summary: Dapatkan seluruh produk
      tags:
        - Products
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: integer
                    success:
                      type: boolean
                    message:
                      type: string
                    data:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        gender:
                          type: boolean
                        size:
                          type: integer
                        price:
                          type: integer
                        stock:
                          type: integer
                        image:
                          type: array
                          items:
                            type: string
                  example:
                    - code: 200
                      success: true
                      message: Berhasil mendapatkan semua produk
                      data:
                        id: 1
                        name: Adidas Air Max
                        gender: 1
                        size: 43
                        price: 1500000
                        stock: 10
                        image:
                          - https://www.nike.com/id/t/air-max-97-shoe-Ks2tvF/DJ2740-100
                    - code: 200
                      success: true
                      message: Berhasil mendapatkan semua produk
                      data:
                        id: 2
                        name: Nike Ultra Boost
                        gender: 1
                        size: 41
                        price: 2000000
                        stock: 3
                        image:
                          - https://www.adidas.co.id/media/catalog/product/g/x/gx5236_sl_ecom.jpg
  /products/{id}:  
    put:
      summary: Update data produk
      tags:
        - Products
      parameters:
        - name: id
          in: path
          description: ID produk hasil generate dari sistem
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Mengubah data produk dengan input yang sesuai
        content:
          application/json:
            schema:
              type: object
              properties:
                price:
                  type: integer
                stock:
                  type: integer
              example:
                price: 1200000
                stock: 13
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      gender:
                        type: boolean
                      size:
                        type: integer
                      price:
                        type: integer
                      stock:
                        type: integer
                      image:
                        type: array
                        items:
                          type: string
                example:
                  code: 200
                  success: true
                  message: Berhasil mengupdate data produk
                  data:
                    id: 1
                    name: Adidas Air Max
                    gender: 1
                    size: 43
                    price: 1200000
                    stock: 13
                    image:
                      - https://www.nike.com/id/t/air-max-97-shoe-Ks2tvF/DJ2740-100
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: Kesalahan autorisasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
              example:
                  code: 401
                  success: false
                  message: User tidak terautorisasi
                  data: {}
    delete:
      summary: Hapus sebuah product
      tags:
        - Products
      parameters:
        - name: id
          in: path
          description: ID produk hasil generate sistem
          required: true
          schema:
            type: integer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                success: true
                message: Berhasil hapus data produk
                data: {}
components:
  parameters:
    UserID:
      name: id
      in: path
      required: true
      schema:
        type: integer
  schemas:
    UserLogin:
      type: object
      properties:
        user_name:
          type: string
        password:
          type: string
    UserInput:
      type: object
      properties:
        name:
          type: string
        user_name:
          type: string
        email:
          type: string
        password:
          type: string
    SuccessSingleResponse:
      type: object
      properties:
        code:
          type: integer
        success:
          type: boolean
        message:
          type: string
        data:
          $ref: '#/components/schemas/UserInput'
  responses:
    '400':
      description: Kesalahan dari client
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 400
              success:
                type: boolean
                example: false
              message:
                type: string
                example: Terjadi kesalahan pada input
              data:
                type: object
    '204':
      description: Kesalahan update
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 204
              success:
                type: boolean
                example: false
              message:
                type: string
                example: Tidak ada data yang diupdate
              data:
                type: object
                example: {}
    '401':
      description: Kesalahan autorisasi
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 401
              success:
                type: boolean
                example: false
              message:
                type: string
                example: Email atau password tidak valid
              data:
                type: object
                example:
                  user_name: franz1
                  token: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT